{% extends "_layout.twig" %}

{% block title %} {{ article.title }} - AirSoft {% endblock %}

{% block body %}
    <div class="cloak">
        <div class="parallax-window"
             data-parallax="scroll"
             data-image-src="{{ article.cover }}">
            <div class="spot text-center">
                <h1>{{ article.title }}</h1>
                <ul class="list-inline small">
                    <li>{{ article.created_at|date("F j, Y") }}</li>
                </ul>
            </div>
        </div>

        <div class="article container">
            {{ article.content|raw }}
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="//cdn.bootcss.com/parallax.js/1.4.2/parallax.min.js"></script>

    {{ parent() }}

    <script>
        $(window).resize(articleResize);
        articleResize();
    </script>
{% endblock %}