{% extends "_layout.twig" %}

{% block title %} AirSoft {% endblock %}

{% block body %}
    <div class="cloak">
        <div id="screen">
            <div class="text-center" id="highlight">
                <small>{{ headline.created_at|date("F j, Y") }}</small>
                <h2><a href="{{ url('article',{'route':headline.route}) }}">{{ headline.title }}</a></h2>
                <p>{{ headline.summary }}</p>
            </div>

            <svg width="100%" height="100%">
                <circle class="mask" cx="50%" r="250"/>
            </svg>
        </div>

        {% if contents is not empty %}
            <div class="container">
                <div class="home list-group">
                    {% for item in contents %}
                        <a href="{{ url('article',{'route':item.route}) }}" class="list-group-item">
                            <div class="row">
                                <div class="col-sm-5">
                                    <img src="{{ item.cover }}" class="img-responsive">
                                </div>
                                <div class="col-sm-7">
                                    <div class="content">
                                        <div class="list-group-item-heading">
                                            <small class="text-muted">{{ item.created_at|date("F j, Y") }}</small>
                                            <h2>{{ item.title }}</h2>
                                        </div>
                                        <p class="list-group-item-text">
                                            {{ item.summary }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block script %}
    <script src="//cdn.bootcss.com/vegas/2.2.0/vegas.min.js"></script>
    {{ parent() }}
    <script>
        $('#screen').vegas({slides: [{src: "{{ headline.cover }}"}]});
        $(window).resize(homeResize);
        homeResize();
    </script>
{% endblock %}